body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
#headings{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dad7cd;
    font-size: .5rem;
}
.container {
    display: flex;
    border-radius: 10px;
    font-size: 1rem;
    align-items: center;
    width:600px ;
    height: 400px;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background-color:#344e41;
    color:#dad7cd;
}

.li{
    border-radius: 10px;
    text-decoration: dashed;
}

.add-task, #erase{
    border-radius: 10px;
    color: #588157;
    background-color: #7E9181;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    color:azure;
}

.task-title{
   
    border-radius: 10px;
   
    
}

.task-management-form{
    display: flex;
    flex-direction: column;
    gap:2px;
}

@media screen and (max-width: 600px){
    .container {
        display: flex;
        border-radius: 10px;
        align-items: center;
        width: 90% ;
        }
    }
