body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-direction: column;
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    border-radius: 10px;
    font: 1rem;
    align-items: center;
    width:auto ;
    height: 400px;
    gap:1rem;
    flex-direction: column;
}